<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"> 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
      <h1> - Notes App - </h1>
      <div class="container">

      <div class="Titel">
        <input v-model="newTitle" type="text" id="Title" placeholder="Title">
        <input v-model="newContent" type="text" id="Content" placeholder="Enter note...">
        <button @click="addNote">+</button>
      </div>
    
      <div class="notes-list">
        <h2> <br> Your Notes</h2>
        <ul>

            <li v-for="(note, index) in notes" :key="index">
                <h2>{{note.title}}</h2>
                <p>{{note.content}}</p>
                <button @click="deleteNote(index)">x</button>
            </li>
            
        </ul>
      </div>
   </div>
</div>

    <script src="script.js"></script>
    
</body>
</html>
